.git
.gitignore
.env
.env.local
.vscode
.idea
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.agent/
logs/
qdrant_data/
dataset/semantic_cache.pkl
submission.csv
submission_time.csv
README.md
test.ipynb
test_crawl.ipynb
test_function.ipynb
test_guardrails.ipynb
vnpt_ai_xinchao.npy
Dockerfile
.dockerignore
